<div class="container">
  <h1>hackerDS control panel</h1>
  <div class="row">
    <div class="col-md-1" ng-repeat="app in apps">
      <div>
        <a href="" ng-click="switchToApp(app)">
          <img ng-src="/apps/{{app.name}}/icon" />
          <span>{{app.name}}</span>
        </a>
      </div>
    </div>
    <div ng-if="apps.length < 1">
       <p>No Apps loaded</p>
       <button
          style="height: 80px; width: 200px"
          ng-click="reload()">Reload</button>
    </div>
  </div>
</div>
